<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holland.graph_robot.mapper.graph.ChinaAreaGMapper">
    <insert id="createNodes">
        CREATE
        <trim>
            <foreach collection="list" item="item" separator=",">
                ( n_${item.id}:ChinaArea
                { id: #{item.id}, pid: #{item.pid}, name: #{item.name}, extName: #{item.extName}
                , fullName: #{item.fullName} }
                )
            </foreach>
        </trim>
    </insert>
</mapper>