server:
  port: 24680
spring:
  application:
    name: graph-robot
  profiles:
    active: dev
  messages:
    basename: lang/messages
    encoding: UTF-8
  r2dbc:
    url: r2dbcs:mysql://localhost.vv:3306/spring-cloud_gateway?useUnicode=true&characterEncoding=utf8&useSSL=false&autoReconnect=true&serverTimezone=Asia/Shanghai
    username: root
    password: holland
  neo4j:
    uri: bolt://localhost.vv:7687
    authentication:
      username: neo4j
      password: JYFtM2hiUWWfnv9
  data:
    neo4j:
      repositories:
        type: reactive
logging:
  level:
    com.holland.graph_robot: debug
    com.holland.graph_robot.config.r2dbc.R2dbcConf: debug